.add-button {

    background-color: white;
    border: 2px solid orange;
    color: orange;

    font-weight: bold;
}
.add-button:hover {
    background-color: orange;
    border: 2px solid orange;
    color: white;

    font-weight: bold;
}

.remove-button {
    margin-top: 1em;
    margin-right: 1em;

    background-color: white;
    border: 2px solid purple;
    color: purple;

    font-weight: bold;
}
.remove-button:hover {
    background-color: purple;
    border: 2px solid purple;
    color: white;

    font-weight: bold;
}